<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
    <title>@ViewBag.Title</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Scripts/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/Scripts/css/fontawesome.css">
    <link rel="stylesheet" href="~/Scripts/css/style.css">
    <link rel="stylesheet" href="~/Scripts/css/owl.css">
    <link rel="icon" href="@Url.Content("~/Scripts/images/err.png")" />
</head>
<body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">

                <!-- Header -->
                <header id="header">
                    <div class="logo">
                        <img style="width:7%; margin-right: 10px" src="~/Scripts/images/logoUtem.png" />
                        <img style="width:7%; margin-right:10px" src="~/Scripts/images/Logoftmk.png" />
                       
                        <a href="index.html" style="font-size:24px"> <img style="width:3%;" src="~/Scripts/images/err.png" /> Mental Health Recovery</a>
                    </div>
                </header>

                <!-- Banner -->
                <section class="main-banner">
                    @RenderBody()
                </section>

                <!-- Services -->
            </div>
        </div>

        <!-- Sidebar -->
        <div id="sidebar">

            <div class="inner">


                <!-- Menu -->
                <nav id="menu">
                    <ul>
                        <li style="color:white">Navigation</li><li></li>
                        <li><a href="@Url.Action("index", "HaoKeatHome")" class="elements">HOME</a></li>
                        <li><a href="@Url.Action("studentlogin", "HaoKeatHome")" class="elements">STUDENT LOGIN</a></li>
                        <li><a href="@Url.Action("stafflogin", "HaoKeatHome")" class="elements">STAFF LOGIN</a></li>

                    </ul>
                </nav>

                <!-- Start Footer  -->
                <footer id="footer">
                    <p class="copyright">
                        Copyright MHRS &copy; 2020

                    </p>
                </footer>

            </div>
        </div>

    </div>
    <!-- End Footer  -->
    <!-- End copyright  -->
    <!-- ALL JS FILES -->
    <script src="~/Scripts/js/jquery.min.js"></script>
    <script src="~/Scripts/js/bootstrap.bundle.min.js"></script>

    <script src="~/Scripts/js/browser.min.js"></script>
    <script src="~/Scripts/js/breakpoints.min.js"></script>
    <script src="~/Scripts/js/transition.js"></script>
    <script src="~/Scripts/js/owl-carousel.js"></script>
    <script src="~/Scripts/js/custom.js"></script>
</body>
</html>
